<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1 class="text-center mt-4">Search Course</h1>
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Course Title</label>
                    <input type="text" name="courseTitle" [(ngModel)]="courseTitle" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValue()"  class="btn btn-success">Search</button>
                </div>
            </div>
            <div class="row mt-4 g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Course Title</th>
                                <th>Course Description</th>
                                <th>Course Duration</th>
                                <th>Course Date</th>
                                <th>Course Venue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let j of searchData">
                                <td>{{j.id}}</td>
                                <td>{{j.courseTitle}}</td>
                                <td>{{j.description}}</td>
                                <td>{{j.duration}}</td>
                                <td>{{j.date}}</td>
                                <td>{{j.venue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
