<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table   text-center">
                <thead>
                     <tr>
                        <th>Id</th>
                        <th>Course Title</th>
                        <th>Course Description</th>
                        <th>Course Duration</th>
                        <th>Course Date</th>
                        <th>Course Venue</th>
                     </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of course">
                        <td>{{i.id}}</td>
                        <td>{{i.courseTitle}}</td>
                        <td>{{i.description}}</td>
                        <td>{{i.duration}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.venue}}</td>
                    
                    </tr>
                </tbody>  
            </table>      
        </div>
    </div>
</div>
